.rotations{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px 7px;
  .attacks-table{
    width: 100%;

    border-collapse: collapse;

    table{
      width: 100%;
      border-collapse: collapse;
      th,td{
        border: solid 1px #c2185b;
      }
    }
  }
  .modifiers{
    justify-content: center;
  }
  .selectors{
    width: 220px;
  }
  .buttons{
    width: 150px;
    align-items: baseline;
    ul{
      justify-items: left;
      padding: 0;
    }
    li{
      list-style: none;
      button{
        width: 95%;
      }
    }
  }
}
@media screen  and (min-width:573px){
  .rotations{
    width: 65%;
    margin: 0 auto;
    table{
      width: 80%;
    }
  }


}
