<div class="rotations">
  <div class="attacks-table">
  <table class="table">
    <tr>
      <th>Spell</th>
      <th>Support</th>
      <th>Final Modifier</th>
    </tr>
    <tr>
      <td ><ol><li *ngFor="let attack of selectedAttacks">{{attack}}</li></ol></td>
      <td ><ol><li *ngFor="let suport of supportActive">{{suport}}</li></ol></td>
      <td><ol><li *ngFor="let modifier of finalModifiers">{{modifier}}</li></ol></td>
    </tr>
  </table>
    <span *ngIf="error" class="error-message">Cooldown not matching!</span>
  </div>
  <div class="modifiers">
      <p>Final Modifier: {{ModifierSum}}</p>
      <p>Modifier per turn: {{AvgMod}}</p>
      <label for="targets"></label>
      <input type="number" [(ngModel)]="targets" name="targets">
  </div>
  <div class="selectors">
    <mat-form-field appearance="fill" >
      <mat-label >Damage attacks</mat-label>
      <mat-select  [(value)]="selectedAttack">
        <mat-option *ngFor="let option of optionsName" [value]="option">{{option}}</mat-option>
      </mat-select>
    </mat-form-field><br>
  <!-------------Support Selectors-------->
      <mat-form-field appearance="fill" >
      <mat-label >Support</mat-label>
      <mat-select  [(value)]="selectedSupport">
        <mat-option *ngFor="let option of optionSName" [value]="option">{{option}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="buttons">
    <ul class="buttons-ul">
      <li><button mat-raised-button (click)="addOptiontoArray()" >Add attack</button></li>
      <li><button mat-raised-button (click)="popLastOptionArray()">Delete last attack</button></li>
      <li><button mat-raised-button (click)="addSupportArray()">Add a support spell</button></li>
      <li><button mat-raised-button (click)="resetAll()">Reset</button></li>
    </ul>
    </div>
</div>

