<div class="rotations">
  <div class="attacks-table">
  <table class="table">
    <tr>
      <th>Arrow</th>
      <th>Spell</th>
      <th class="supportHead">Support</th>
      <th>Final Modifier</th>
    </tr>
    <tr>
      <td><ol><li *ngFor="let arrow of arrowCount">{{arrow}}</li></ol></td>
      <td ><ol><li *ngFor="let attack of selectedAttacks">{{attack}}</li></ol></td>
      <td ><ol><li *ngFor="let suport of supportActive">{{suport}}</li></ol></td>
      <td><ol><li *ngFor="let modifier of modifiers">{{modifier}}</li></ol></td>
    </tr>
  </table>
    <span *ngIf="error" class="error-message">Cooldown not matching!</span>
  </div>
  <div class="modifiers">
    <p>final Modifier damage in the sequence: {{ModifierSum}}</p>
    <p>Modifier per turn: {{AvgMod}}</p>
    Targets: <input type="number" [(ngModel)]="targets" name="targets" class="targets" >
  </div>
  <section class="wrapper">
  <div class="selectors">
    <mat-form-field appearance="fill" >
    <mat-label >Damage attacks</mat-label>
    <mat-select  [(value)]="selectedAttack">
      <mat-option *ngFor="let option of optionsName" [value]="option">{{option}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" class="selector">
    <mat-label >Support</mat-label>
    <mat-select  [(value)]="selectedSupport">
      <mat-option *ngFor="let option of optionSName" [value]="option">{{option}}</mat-option>
    </mat-select>
  </mat-form-field>
  </div>
  </section>
  <div class="buttons">
    <ul class="buttons">
      <li><button mat-raised-button (click)="addOptiontoArray()" >Add attack</button></li>
      <li><button mat-raised-button (click)="popLastOptionArray()">Delete last attack</button></li>
      <li><button mat-raised-button (click)="addSupportArray()">Add a support spell</button></li>
      <li><button mat-raised-button (click)="resetAll()">Reset</button></li>
    </ul>
  </div>
</div>
