
*{
  box-sizing: content-box;
}
h1{
  text-align:center;
  padding: 1em;
}
.selector{
  display: flex;
  justify-content: center;
}
h3{
  margin-bottom: 0.1em;
  margin-left: 3em;
}
.container{
  padding-left: 1em;
  margin-left: 2em;
  display: flex;
  padding: 15px;

  table{
    margin-left: 15em;
    border-collapse: separate;
    border-spacing: 0px;
    align-items: center;
    justify-content: center;
    display:block;
    width: 30%;

    td, th{
      width: 100%;
      padding: 10px;
      border: 1px solid #c2185b;
    }
  }
}
mat-form-field{
  width: 15%;
  margin-right: 20px;
}


