
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? 'over' : 'side'"
  [opened]="(isHandset$ | async) === false">
    <mat-nav-list class="list-elements">
      <a mat-list-item class="link-element"[routerLink]="['']"><i class="fa-solid fa-house-chimney homebutton"></i></a>
      <a mat-list-item href="#" class="link-element" [routerLink]="['/lsplit']"  routerLinkActive="active"  >Loot splitter</a>
      <a mat-list-item href="#" [routerLink]="['rotations']" [routerLinkActive]="['active']" class="link-element">Rotations</a>
      <a mat-list-item href="#" [routerLink]="['skills']" [routerLinkActive]="['active']" class="link-element">Skills & Damage</a>
      <a mat-list-item href="#" [routerLink]="['imbuments']" [routerLinkActive]="['active']" class="link-element">Imbuements</a>
      <a mat-list-item href="#" [routerLink]="['blessings']" [routerLinkActive]="['active']" class="link-element">Blessings</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="main-window">
    <mat-toolbar class ="toolbar" color="primary">
      <button class="toggleButton">
        <mat-icon aria-label="home icon" class="toggleIcon"       class="toggle-button"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
      (click)="drawer.toggle()">menu</mat-icon>
      </button>
      <h1 class="main-title">Tibia Tools</h1>
      <div class="icons">
        <a href="https://github.com/JoaquinC539/Tibia-tools" target="_blank"><i class="fa-brands fa-github"></i></a>
      </div>
    </mat-toolbar>
    <router-outlet class="router-content"></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>

