h1,h2{
  margin-top: 10px;
  text-align: center;
  margin-bottom: 25px;
}
.selector {
  display: flex;
  justify-content: center;
  padding: 1em;
  align-items: center;
}
.content{
  width: 100%;
}
.knight-rot{
  display: grid

}

