<h1 class="component_title">Loot Splitter</h1>

<section >
  <div class="loot-splitter">

      <textarea class="text-input"name="" id="" cols="35" rows="20" id="loot-input" [(ngModel)]="PartyLoot" #loot="ngModel" placeholder={{PartyLoot}}></textarea>
      <div class="results">
        <p *ngIf="empty" [innerHTML]="items"></p>
      </div>
</div>
</section><br>
<section class="subtitle">
  <h3 >How to submit the data?</h3>
  <br><span><img src="../../assets/analyser.png" alt=""></span></section>




