<section>
<h1>Tibia Tools</h1>
<h2>Contents: </h2>
<div class="contents">
<h4 id="LootSpliiter">Loot splitter <br>
  <span class="image-analyzer"><img src="assets/analyser.png" alt=""></span>
</h4>
<h4 id="Rotations">Rotation calculator</h4><br>
<span class="image-icons"><img src="assets/Fierce_Berserk.png" alt=""> <img src="assets/Avalanche_Rune.png" alt="">
  <img src="assets/Diamond_Arrow.gif" alt=""> <img src="assets/Blood_Rage.png" alt="">
  </span>
<h4 id="Damage">Damage calculators and graphs</h4><br>
<span class="image-graph"><img src="assets/graph.png" alt=""></span>
<h4 id="Imbues">Imbue calculator and cost per hour</h4><br>
<span class="image-icons-imb"><img src="assets/Basic_Void.png" alt=""><img src="assets/Gold_Token.png" alt=""> <img src="assets/Crystal_Coin.gif" alt="">
  </span>
</div>
</section>
<mat-card>
  <mat-card-content>Want to contact me or send feedback?: Send your email to me!!! cjoaquinangel@gmail.com</mat-card-content>
</mat-card>
