h1,h2 {
  text-align: center;
  padding-top: 1.5em;
}
h1{
  font-size: 40px;
}
h2{
  font-size: 32px;
}

.contents{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 2px;
  text-align: center;
  h4{
    margin-top: 15px;
  }
  .image{
    grid-row: auto;

  }
  .image-icons{
    margin-top: 10px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
    img{
      display: flex;
      align-self: center;
      justify-self: center;
      padding: 0 5px;
    }
  }
  .image-graph img{
    max-width: 210px;
    max-height: 200px ;
  }
  .image-icons-imb{
    margin-top: 10px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0px;
    img{
      display: flex;
      align-self: center;
      justify-self: center;
      padding: 0 5px;
      size: 50px;
    }
  }
}
